.navbar-light .navbar-nav .nav-link.light_effect:hover {
    color: white;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}