<link rel="stylesheet" href="~/lib/jquery.ui.combined/1.13.2/Content/Content/themes/base/jquery-ui.css" />
<script src="~/lib/jquery.ui.combined/1.13.2/Content/Scripts/jquery-ui-1.13.2.min.js"></script>
<script src="/js/_MessageDialog.js"></script>

<div id="messageDialog" class="hidden" title="title"><p>message</p></div>

<div id="messageDialogCulture" class="hidden">@System.Threading.Thread.CurrentThread.CurrentCulture.Name</div>